.navbar {border-radius: 0px;}
.btn-a{
	color: #000; 
	text-decoration: none !important;
	background: rgba(204,235,255,1);
	background: -moz-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,235,255,1)), color-stop(61%, rgba(41,185,229,1)), color-stop(100%, rgba(39,164,247,1)));
	background: -webkit-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -o-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -ms-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: linear-gradient(to right, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccebff', endColorstr='#27a4f7', GradientType=1 );
	margin-bottom: 20px;
	padding: 20px; 
	position: relative;
}
.btn-b{
	color: #000; 
	text-decoration: none !important;
	background: rgba(204,235,255,1);
	background: -moz-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,235,255,1)), color-stop(61%, rgba(41,185,229,1)), color-stop(100%, rgba(39,164,247,1)));
	background: -webkit-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -o-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -ms-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: linear-gradient(to right, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccebff', endColorstr='#27a4f7', GradientType=1 );
	margin-bottom: 20px;
	padding: 20px; 
	position: relative;
}
.btn-c{
	color: #000; 
	text-decoration: none !important;
	background: rgba(204,235,255,1);
	background: -moz-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,235,255,1)), color-stop(61%, rgba(41,185,229,1)), color-stop(100%, rgba(39,164,247,1)));
	background: -webkit-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -o-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: -ms-linear-gradient(left, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	background: linear-gradient(to right, rgba(204,235,255,1) 0%, rgba(41,185,229,1) 61%, rgba(39,164,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccebff', endColorstr='#27a4f7', GradientType=1 );
	margin-bottom: 20px;
	padding: 25px; 
	position: relative;
}
.img-right {position: absolute; right: 0px; top: 0px;height: 126px;}
.btn-a label {float: left;}
.lbl-lk{font-size: 20px; display: block; }
.lbl-inf{}
.navbar{margin-bottom: 0px;}
.img-div{
	border:10px solid #6f6f71;
	width: 100%;
	display: block;
	padding: 20px;
	float: left;
}
.cnt-no-antrian{
	display: block;
	border:1px solid #000;
	float: left;
	width: 100%;
}
marquee{
	background-color: #000;
    font-size: 20px;
    color: #fff;
    padding: 15px;
	margin-top:10px;
}
.time{
	font-weight: bold;
	font-size: 30px;
	margin-top: 10px;
}