html body{overflow: hidden;}
.float{height: 100vh !important;}
.card{position: relative;}
.card-header h5{font-weight: bold; text-align: center; margin-bottom:0 !important;}
.card-header small{text-align: center; color: #999; display: block; margin: 0 none;}
.card-text{text-align: center;}
.copy{position: absolute;bottom: -20px; text-align: center; margin: 0 auto; width: 100%; color: #999;}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #000;
  opacity:0.6;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

/*Main app*/
.dash-app{
	background-repeat: no-repeat; 
	background-size: cover;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,6da7c6+51,1f43a5+100 */
	background: rgb(37,141,200); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(109,167,198,1) 51%, rgba(31,67,165,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%,rgba(109,167,198,1) 51%,rgba(31,67,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(109,167,198,1) 51%,rgba(31,67,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#1f43a5',GradientType=0 ); /* IE6-9 */
	height: 100vh;

}
.running-text-cnt{background-color: #fff; display: block; height: 35px; font-weight: bold; font-size: 20px; position: fixed; bottom: 0px;}
.btn-inner{
	width: 70%; 
	height: 80px; 
	display: block;
	background: rgba(0,170,255,1);
	background: -moz-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,170,255,1)), color-stop(100%, rgba(13,39,184,1)));
	background: -webkit-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	background: -o-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	background: linear-gradient(to right, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaff', endColorstr='#0d27b8', GradientType=1 );
	border-radius: 5px;
	margin:0 auto; 
	margin-bottom: 50px;
	/*border:1px solid #40757f;*/
	padding:20px;
}
.btn-dashboard{
	width: 186px; 
	height: 186px; 
	display: block;
	background: rgba(0,170,255,1);
	background: -moz-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,170,255,1)), color-stop(100%, rgba(13,39,184,1)));
	background: -webkit-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	background: -o-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	background: linear-gradient(to right, rgba(0,170,255,1) 0%, rgba(13,39,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaff', endColorstr='#0d27b8', GradientType=1 );
	border-radius: 9%;
	/*transform: rotate(50deg);*/
	margin:0 auto; 
	margin-bottom: 50px;
	/*border:1px solid #40757f;*/
	padding:20px;
	overflow: hidden;
}
.img-circle{
	width: 216px;
	height: 216px;
	display: block;
	background-color: transparent;
	background-image: url("../assets/images/peeps.jpg");
	background-size: cover;
	border-radius: 6%;
	opacity: 0.3;
	position: relative;
	top: -140px;
	left: -31px;
	/*transform: rotate(-50deg);*/
}
.img-circle2{
	width: 216px;
	height: 216px;
	display: block;
	background-color: transparent;
	background-image: url("../assets/images/1.png");
	background-size: cover;
	border-radius: 6%;
	opacity: 0.3;
	position: relative;
	top: -123px;
	left: -31px;
	/*transform: rotate(-50deg);*/
}
.img-circle3{
	width: 216px;
	height: 216px;
	display: block;
	background-color: transparent;
	background-image: url("../assets/images/1.jpg");
	background-size: cover;
	border-radius: 6%;
	opacity: 0.3;
	position: relative;
	top: -123px;
	left: -31px;
	/*transform: rotate(-50deg);*/
}
.img-circle4{
	width: 216px;
	height: 216px;
	display: block;
	background-color: transparent;
	background-image: url("../assets/images/2.jpg");
	background-size: cover;
	border-radius: 6%;
	opacity: 0.3;
	position: relative;
	top: -123px;
	left: -31px;
	/*transform: rotate(-50deg);*/
}
.btn-dashboard:hover .img-circle4{position: absolute; top: -20px; left: -11px;}
.btn-dashboard:hover .img-circle3{position: absolute; top: -20px; left: -11px;}
.btn-dashboard:hover .img-circle{position: absolute; top: -20px; left: -11px;}
.btn-dashboard:hover .img-circle2{position: absolute; top: -20px; left: -11px;}
.btn-dashboard:hover {
	transition: ease .3s; 
	text-decoration: none; 
	position: relative; 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
	background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 0px 9px 42px -6px rgba(233, 247, 255, 0.8); 
	-moz-box-shadow: 0px 9px 42px -6px rgba(233, 247, 255, 0.8); 
	box-shadow: 0px 9px 42px -6px rgba(233, 247, 255, 0.8);
	color: #000;
}
.btn-right{z-index: 1; position: absolute; right: 40px; top: 10px; color: #fff; list-style: none;}
.icon-top{color: #fff; font-size: 17px !important; opacity: 0.5;}
.icon-top:hover{opacity: 1; transition: ease .6s;}
.btn-inner:hover {transition: ease .3s; text-decoration: none; position: relative; -webkit-box-shadow: 0px 9px 42px -6px rgba(0,0,0,0.75); -moz-box-shadow: 0px 9px 42px -6px rgba(0,0,0,0.75); box-shadow: 0px 9px 42px -6px rgba(0,0,0,0.75);}
.btn-dashboard:hover .o-ring{top: -14px; right: -14px; transition: ease 0.7s; opacity: 0.2;}
.btn-dashboard:hover .btn-name{color: #000; font-weight: bold;}
.o-ring{width: 214px; height: 214px; background-color: transparent; border: 5px solid #fff; position: absolute; top: 0px; right: 0px; opacity: 0; border-radius: 6%;}
.btn-name{display: block; color: #fff; font-size: 18px; line-height: 1.3; margin-top: 50px; /*transform: rotate(-50deg);*/ text-transform: uppercase; text-align: center;}
.btn-name2{display: block; color: #fff; font-size: 25px; line-height: 1 !important; }
.cnt-clock{background-image: url('../assets/images/clock-back.png'); background-repeat: no-repeat;  background-size: cover; display: block; width: 123px; height: 36px; position: absolute; top: -1px;}
.btn-des{display: block; color: #fff;}
.logo-app{display: block; width: 12%; margin: 0 auto;}
.judul-app{display: block; font-weight: bold; text-align: center; font-size: 20px;}
.sub-judul-app{display: block; text-align: center; color: #fff;}
.main-cnt-judul{margin-top: 20px; margin-bottom: 20px; color: #fff;}
#txt{position: absolute; left: 10px; color: #fff;}
.icon-btn{display: block; width: 50px; height: 50px; border-radius: 100%; background-color: #fff; margin-bottom: 10px;}
.icon-btn2{display: block; width: 50px; height: 50px; border-radius: 100%; background-color: #fff; margin-bottom: 10px; float: left; margin-right: 10px; margin-top: -4px;}
.fa{text-align: center; font-size: 24px; width: 100%; line-height: 2 !important;}
#video-background{z-index: 0; position: absolute;}
