html, body
{
    height: 100%;
}
.left{
  /*background-color:red; */
  background-image: url("../back.jpg");
  padding:45px;
  padding-top: 20px;
  height:100vh;
}
.left,h1{font-size:60px;}
.left,h3,h4{
  font-weight:bold; 
  color:#fff;
  font-size:30px;
}
.left,.table{font-size:15px;}
.table{
  margin-top:10px;
}
i.wtr{
  font-size:90px; 
  float:left; 
  margin-right:50px;
}
i,.fa,.crs{font-size:15px; float:unset;}
.right{
  background-color:blue; 
  padding:0px;
  height:100vh;
}
.news-box{
  background-color:#FFAC1E;
  padding:20px;
}
.list-box{
  background-color:green;
}
.list-box .col-md-6{padding: 0px;}
.cnt-antrian{
  background: rgba(45,122,194,1);
  background: -moz-linear-gradient(top, rgba(45,122,194,1) 0%, rgba(0,75,156,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,122,194,1)), color-stop(100%, rgba(0,75,156,1)));
  background: -webkit-linear-gradient(top, rgba(45,122,194,1) 0%, rgba(0,75,156,1) 100%);
  background: -o-linear-gradient(top, rgba(45,122,194,1) 0%, rgba(0,75,156,1) 100%);
  background: -ms-linear-gradient(top, rgba(45,122,194,1) 0%, rgba(0,75,156,1) 100%);
  background: linear-gradient(to bottom, rgba(45,122,194,1) 0%, rgba(0,75,156,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d7ac2', endColorstr='#004b9c', GradientType=0 ); 
  padding:10px;
  margin-bottom:5px;
  display:table;
  width:100%;
  /*margin-top:5px;*/
}
.cnt-antrian h4{font-size:20px; margin-top:0px; float: left; margin-right: 10px;}
.cnt-antrian h5,h6{
  color:#fff;
  margin-top:5px;
}
.cc{margin-top:0px !important; margin-bottom:0px; float:left;}
.cc table tr td{font-weight: bold; font-size: 18px;}
marquee{
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 14%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(14%, rgba(89,89,89,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 14%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 14%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 14%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 14%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
  color: #fff; 
  padding: 10px;
  font-size: 15px; 
  font-weight: bold;}