/*Style utama*/
html,body{height: 100%; max-height: 100%;}
.pagination li a{margin:0 !important;}
.btn-logout{display:block; height:60px; padding-top:20px; margin-right:10px;}

/*Login Page*/
.btn-white{text-align: center; display: block; margin:0 auto; width: 150px;}
.cnt-login{border-radius: 5px; background-color: #5295fb; width: 100%; position: relative; min-height: 400px; display: block; margin:0 auto; padding: 0px 50px;}
.cnt-login small{text-align: center; display: block; position: absolute; bottom: -50px; left: 0; right: 0;}
.intro{margin-bottom: 30px; display: block;}
.img-logo{display: block; width: 100%; margin-top: 30px;}
.img-logo img{display: block; margin: 0 auto;}
.intro{display: block; text-align: center; color: #fff; font-size: 13px; margin-top: 15px;}
.logbox{background:url('../images/loginBack.png'); background-repeat: no-repeat; background-size: cover;}
.row h5{display: block; text-align: center; padding: 40px 20%; color: #5295fb; margin: 0 auto; font-weight: bold;}

/*Dashboard*/
.btn-cnt a{margin-bottom: 5px;}
.btn-cnt h5{padding:5px; color: #333333;}
.btn-dash1{ width: 183px; height: 174px; -webkit-transition: width 0.2s; display: block; margin: 0 auto; background: url('../images/btnDash1.png'); background-repeat: no-repeat; background-size: cover; }
.btn-dash1:hover{width: 190px;}
.btn-dash2{ width: 183px; height: 174px; -webkit-transition: width 0.2s; display: block; margin: 0 auto; background: url('../images/btnDash2.png'); background-repeat: no-repeat; background-size: cover; }
.btn-dash2:hover{width: 190px;}
.btn-dash3{ width: 183px; height: 174px; -webkit-transition: width 0.2s; display: block; margin: 0 auto; background: url('../images/btnDash3.png'); background-repeat: no-repeat; background-size: cover; }
.btn-dash3:hover{width: 190px;}
.btn-dash4{ width: 183px; height: 174px; -webkit-transition: width 0.2s; display: block; margin: 0 auto; background: url('../images/btnDash4.png'); background-repeat: no-repeat; background-size: cover; }
.btn-dash4:hover{width: 190px;}
.btn-dash5{ width: 183px; height: 174px; -webkit-transition: width 0.2s; display: block; margin: 0 auto; background: url('../images/btnDash5.png'); background-repeat: no-repeat; background-size: cover; }
.btn-dash5:hover{width: 190px;}
.btn-dash6{ width: 183px; height: 174px; -webkit-transition: width 0.2s; display: block; margin: 0 auto; background: url('../images/btnDash6.png'); background-repeat: no-repeat; background-size: cover; }
.btn-dash6:hover{width: 190px;}
.copy{text-align: center; display: block; line-height: 4; color: #333;}
.dash-back{background-image: url(../images/loginBack.png); background-size: cover; background-repeat: no-repeat;}
.fa-sun{font-size: 15px;}
.main-bar{background-color:#f0f4f7; display: block; height: 60px; width: 100%; border-bottom: 1px solid #dedede; position: relative; z-index: 1;}
.leftBar{float: left; display: block; padding-top: 4px;}
.line-sp{display: block; width: 1px; height: 30px; background-color: #dedede; margin-top: 12px;}
.judul-aplikasi{padding-top: 20px !important;}
.rightBar{display: block; float: right;}
.right-menu{list-style: none; display: inline-flex;}
.right-menu li{margin-left: 10px; font-weight: bold; font-size: 13px; /*margin-right: 20px;*/ line-height: 4.3; padding-right: 10px;}

/*Pelayanan*/
html>body.pelayanan-cnt{margin: 0 auto; height: 100vh; background-color: #f5f9fc;}
.actives{color:#199dff !important;}
.btn-table{background-color: #fff; color: #85888c; border-color: #dedede;}
.btn-table:hover{background-color: #007bff; border-color: #fff;}
.btn-simpan{float: right; margin-top: 20px;}
.btn-filter{margin-bottom: 5px;}
.btn-batal{float: right; margin-right: 10px; border:1px solid #dedede; margin-top: 20px;}
.btn-group{padding: 0px;}
.card-set{border:1px solid #dedede; margin-top: 20px; min-height: 100px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.cnt-header{display: block; width: 100%; height: 50px; padding: 10px 20px;}
.form-box{margin-top: 20px;}
/*.form-box span{color: #999999;}*/
.headset{background-color: #007bff; color: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; display: block; height: 40px; border-bottom: 1px solid #dedede; line-height: 2.3; padding-left: 15px;}
.headTitle{width: 100%; height: 50px; border-bottom: 1px solid #dedede;}
.headTitle h6{line-height: 3;}
.side-menu{/*display: block;*/ width: 200px; height: 100vh; position: fixed; background-color: #f0f4f7; margin-left: 60px; /*padding-top: 70px;*/ top: 0; z-index: 0; height: 100%; max-height: 100%; border-right: 1px solid #dedede;}
.side-menu ul{padding-left: 10px; list-style: none; color: #000; line-height: 3; margin-left: 10px;}
.side-menu ul li a{color: #45494c; text-decoration: none; position: relative;}
.list-menu a:hover {color:#199dff;}
.list-menu a:hover .icons{color:#199dff;}
.icons{position: absolute; left: -55px; z-index: 2; top: 16px; bottom: 0px; color: #aeadb2;}
.judul-peta{font-weight: bold; color: #007bff; margin-bottom: 0px;}
/*.left-trash{margin-right: 5px;}*/
.list-menu{position: relative; border-bottom: 1px solid #dedede;}
.loc-lbl{width: 100%; height: 30px; font-weight: bold; margin-top: 20px; background-color: #ffb400; text-align: center; display: block;}
.main-content{padding-left: 300px; padding-top: 19px; padding-bottom: 50px;}
.main-nav-tab{width: 98%;}
.modal-body hr{margin-top: 5px;}
.modal-header{
	background-color: #1e6cc7;
    background-image: url(../images/2.gif);
    background-size: 190px;
    background-position: right;
    padding: 16px 15px !important;
    border-bottom: 1px solid #dedede;
    background-repeat: no-repeat;
    color: #fff;
}
.nav-tabs .nav-link{color: #dedede;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color: transparent; border:0 none; border-bottom:2px solid #199dff; color: #199dff;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border: unset;}
.pelayanan-top{margin-top: 10px; margin-bottom: 50px;}
.pelayanan-table thead th{vertical-align: middle; font-weight: normal; font-size: 13px; padding: 10px;}
.pelayanan-table tbody tr{font-size: 13px;}
.peta-cnt{position: relative;}
.tab-content{overflow:hidden;}
.table thead th{text-align: center; background-color: #fff; font-weight: bold;}
.tab-content img{width: 100%;}
.table .table{background-color: transparent;}
.table-label{margin-bottom: 0px; line-height: 1.8; font-weight: bold; width: 300px; float: left;}
.trash{margin-right: 10px;}
.table{border-top:0px; border-top-left-radius: 5px; border-top-right-radius: 5px; overflow:hidden;}
.tbls{position: unset; margin-top: unset; margin-left: unset;}
.btn-group-sm > .btn, .btn-sm{padding: 8px 10px;}
/*Location*/
.bandung{position: absolute; bottom: 140px; left: 258px;}


#myTabContent{width: 98%; padding: 5px 20px; padding-top: 30px;}

.white-left-bar{height: 100%; max-height: 100%; width: 60px; display: block; z-index: -1; position: fixed; top: 0px; background-color: #fff;}


/*Media screen*/
@media (width: 320px){
	.title-mobile{margin-left: 1% !important; margin-top: 15px !important;}
}
@media (max-width: 416px){
	body{background-color: #5295fb;}
	.admin-list{margin-right: 0px !important;}
	.admin-list a{display: none;}
	.actives{font-weight: bold;}
	.btn-cnt{width: 50% !important;}
	.btn-intable{float: left; margin-bottom: 10px;}
	.bnt-text{display: block !important; font-size: 12px;}
	.btn-unduh-mobile{margin-right: 10px;}
	.btn-dash1,.btn-dash2,.btn-dash3,.btn-dash4,.btn-dash5,.btn-dash6{width: 140px; height: 135px;}
	.btn-dash1:hover{width: 140px;}
	.btn-dash2:hover{width: 140px;}
	.btn-dash3:hover{width: 140px;}
	.btn-dash4:hover{width: 140px;}
	.btn-dash5:hover{width: 140px;}
	.btn-dash6:hover{width: 140px;}
	.cnt-login small{color: #fff;}
	.cnt-header{padding: 10px 0px;}
	.container-mobile{margin-top: 19% !important;}
	.desktop-setting{display: none;}
	.headTitle{overflow:hidden;}
	.headTitle h6{max-width: 300px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
	.line-sp{display: none;}
	.ln-sp-mobile{display: none;}
	.logo-desktop{display: none;}
	.logo-mobile{width: 50px; padding-left: 10px; margin-top: 5px;}
	.judul-aplikasi{padding-top: 0px; display: block !important; display: block !important; font-size: 13px; padding-bottom: 20px; padding-left: 0px !important; padding-right: 0px !important;}
	.mobile-menu-stack{margin: 15px; line-height: 2.2; font-size: 24px; z-index: 5 !important;}
	.mobile-map{padding-top: 30px;}
	.main-bar{z-index: 10; -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.38); -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.38); box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.38);}
	.main-content{padding-left: 10px;}
	.modal-dialog{-webkit-box-shadow: 0px 3px 63px -8px rgba(0,0,0,0.89) !important; -moz-box-shadow: 0px 3px 63px -8px rgba(0,0,0,0.89) !important; box-shadow: 0px 3px 63px -8px rgba(0,0,0,0.89) !important;}
	.nav-tabs{display: -moz-box; overflow:scroll;}
	.nav-tabs .nav-item{white-space: nowrap; display: table-cell;}
	.row h5{display: none;}
	.pelayanan-table thead th{white-space: nowrap;}
	.right-menu li{margin-right: 20px;}
	.rightBar{display: block; float: right; width: 40px; margin-right: 20px;}
	.right-menu{display: block; padding-left: 0px;}
	.side-menu ul{line-height: 2.5;}
	.side-menu ul li a{font-size: 13px;}
	.side-menu{left:-256px; transition: left 0.2s !important;}
	.table-label{margin-top: 20px; color: #007bff; margin-bottom: 10px;}
	.title-mobile{display: block; text-align: center; font-size: 12px; font-weight: bold; width: 200px; float: left; margin-left: 10%; margin-top: 15px;}
		tr th{white-space: nowrap;}
	.user-mobile{width: 30px; height: 30px; background-color: #199dff; text-align: center; line-height: 2; border-radius: 50%; display: block; margin-top: 11px; color: #fff !important;}
	.white-left-bar{left: -60px;}
	.white-left-show{left: -60px !important; transition: left 0.2s; z-index: 3; -webkit-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.38); -moz-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.38); box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.38);}
	.white-left-shows{left: 0px !important; transition: left 0.2s; z-index: 3;}

	#myTab{padding-bottom: 10px; z-index: 0;}
	#tableData_filter{display: none;}
	.dataTables_filter{display: none !important;}
	.dataTables_length{float: left !important;}
	.daftar-user{margin-top: 80px;}
	.mobile-detail{margin-top:90px;}
}

@media (max-width: 500px){
	.dash-back{background-size: auto; background-repeat: unset;}
	.btn-white{text-align: center; display: block; margin: 0 auto; width: 100%; color: #fff; margin-top: 40px; background-color: #005096 !important;}
	.nav-tabs{overflow: scroll; display: -webkit-inline-box;}
	.desktop-setting{border:1px solid #dedede; /*padding: 5px;*/ border-radius: 40px; display: block; background-color: #fff; width: 40px; height: 40px; margin-top: 12px; overflow:hidden;}
	.desktop-setting img{padding: 0px; width: 100%; /*margin-left: -30px; margin-top: -12px;*/ vertical-align: unset;}
	.cnt-login{border-radius: 5px; background-color: #5295fb; width: 100%; position: relative; /* min-height: 400px; */display: block; margin: 0 auto; padding: 0px 50px; height: 100vh; padding-top: 20%; background-image: url('../images/loader.gif'); background-size: 100%; background-repeat: no-repeat; background-position: bottom; background-blend-mode: lighten;}
    .btn-table{width: 100%;}
    .btn-group{padding: 0px;}
    .pelayanan-cnt{padding-top: 40px;}
    .head{position: fixed; top: 0px;}
    .white-left-show{top: 20px;}
    .table{overflow: scroll !important;}
}

@media (min-width: 760px){
	.user-mobile{display: none;}
	.logo-mobile{display: none;}
	.mobile-menu-stack{display: none;}
	.title-mobile{display: none;}
	.desktop-setting{border:1px solid #dedede; padding: 5px; border-radius: 40px; display: block; background-color: #fff; width: 40px; height: 40px; margin-top: 7px; overflow:hidden;}
	.desktop-setting img{padding: 0px; width: 89px; margin-left: -30px; margin-top: -12px;}
}

.page-link{
	padding: .2rem .45rem;
}

.badge{padding: 0.65em .6em !important;}
.mobile-detail{margin-top:90px;}


/*Full modal*/
.fullScreenModal{
	max-width: 100%;
	margin:0;
}
.modal-full{padding-right: 0px !important;}
.fullScreenModal .modal-content{
	min-height: 100vh !important;
}