html, body {
	font-family: 'Play', sans-serif;
	/*background: #2b2b2b;*/
	margin: 0;
}
#parallax {
  overflow: hidden;
  position: relative;
  height: 646px;
  width: 100%;
  position: absolute;
  z-index: 0;
  /*background: url(http://lyenpon.fr/reveal/assets/img/parallax-layer1.jpg) no-repeat center bottom;*/
}
#parallax-wrap {
	height: 100%;
  width: 100%;
  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax-layer {
    position: absolute;
}
#parallax .bg1 {
    width: 368px;
    height: 368px;
    left: 60px;
    top: 40px;
    background: url(../images/box2.png) no-repeat 0 0;
    background-size: contain;
    z-index: 3;
  
  -webkit-transform:translateZ(90px);
  -webkit-transition: all 0.2s;
  transform:translateZ(90px);
  transition: all 0.2s;
  
}
/*#parallax .bg2 {
    width: 851px;
    height: 552px;
  left: 0;
    background: url(../images/laptop.png) no-repeat 0 0;
    z-index: 1;
    background-size: contain;
  -webkit-transform:translateZ(-90px);
  -webkit-transition: all 0.2s;
  transform:translateZ(-90px);
  transition: all 0.1s;
}*/
/*#parallax .bg3 {
    width: 406px;
    height: 119px;
    background: url(../images/box2.png) no-repeat 0 0;
    z-index: 2;
  
  -webkit-transform:translateZ(10px);
  -webkit-transition: all 0.2s;
  transform:translateZ(10px);
  transition: all 0.2s;
}*/
/*#parallax .bg4 {
    width: 197px;
    height: 198px;
  left: 590px;
  top: 200px;
    background: url(../images/phone.png) no-repeat 0 0;
    z-index: 4;
  
  -webkit-transform:translateZ(250px);
  -webkit-transition: all 0.2s;
  transform:translateZ(250px);
  transition: all 0.2s;
}*/
#parallax .bg5 {
    width: 233px;
    height: 229px;
    background: url(../images/phone.png) no-repeat 0 0;
  
  -webkit-transform:translateZ(40px);
  -webkit-transition: all 0.2s;
  transform:translateZ(40px);
  transition: all 0.2s;
}
#parallax .bg6 {
    width: 789px;
    height: 671px;
  right: -177px;
    background: url(../images/box.png) no-repeat 0 0;
    background-size: contain;
  -webkit-transform:translateZ(0px);
  -webkit-transition: all 0.2s;
  transform:translateZ(0px);
  transition: all 0.2s;
}