html body{
	margin: 0 auto;
	height: 100vh; 
	font-family: arial;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	/*overflow: hidden;*/
}
body{
	/*background-image: url('../assets/back.jpg');
	background-repeat: repeat-x;*/
	background: #1e5799; /* Old browsers */
}
.line-back{
	    background-image: url(../assets/line_back.png);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    width: 300px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: -1;
}
.logo-center{
	    background-color: rgba(0, 0, 0, 0.46);
    width: 100%;
    padding-top: 10px;
    height: 80px;
    display: block;
    /* position: absolute; */
    top: 20px;
    margin-bottom: 10px;
}
.frame {
    width: 70px;
    height: 70px;
    display: block;
    float: right;
    background-color: #fff;
    border: 2px solid #999;
    position: absolute;
    right: 10px;
    top: 5px;
    border-radius: 50px;
    overflow: hidden;
}
.fto-box{width: 100% !important;}
.info-text{
	position: absolute;
	right: 100px;
	top: 5px;
	color: #fff;
	text-align: right;
}
.info-text label{
	font-weight: normal;
	font-size: 13px;
}
.info-text h5{
	font-size: 18px;
	margin-bottom: 0px;
	margin-top: 15px;
}
.logo{
	display: block;
	margin: 0 auto;
	width: 380px;
}
.marq-bar{
	display: block;
	width: 100%;
	padding: 10px;
	position: relative;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.76);
	font-size: 15px;
	color: #fff;
}
/*------------------------------------------------------*/
.time{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffad00 0%,#da7d01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    padding: 6px 10px;
    z-index: 800;
}
.time h2{margin: 0px; color:#343536;}
.title-1{color: #ffab00; margin: 0px;}
.title-2{color:#fff; margin: 0px;}
.box-sisa{
	background-image: url('../assets/display1.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 240px;
	height: 150px;
	float: left;
	margin-top: 130px;
}
.box-sisa p{
	padding: 10px;
	display: block;
}
.box-sisa h1{
	font-size: 50px;
	display: block;
	font-weight: bold;
	text-align: center;
}
/*========*/
.box-sisa2{
	background-image: url('../assets/display1.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 240px;
	height: 150px;
	float: left;
	margin-top: 130px;
}
.box-sisa2 p{
	padding: 10px;
	display: block;
}
.box-sisa2 h1{
	font-size: 50px;
	display: block;
	font-weight: bold;
	text-align: center;
}
.box-antrian{
	background-image: url('../assets/display2.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 244px;
	height: 150px;
	margin-top: 130px;
}
.box-antrian p{
	padding: 10px;
	display: block;
}
.box-antrian h1{
	font-size: 50px;
	display: block;
	font-weight: bold;
	text-align: center;
}
.next-line{
	background-image: url('../assets/displayNext.png');
	background-repeat: no-repeat;
	width: 310px;
	height: 70px;
	padding: 3px;
}
.next-line h2{
	display: block;
	text-align: right;
	font-weight: bold;
	color:#ffab00;
	font-size: 40px;
	margin-bottom: 3px;
}
.btn-next-call{
	background-image: url('../assets/btnCallnext.png');
	width: 310px;
	height: 71px;
	background-repeat: no-repeat;
	text-decoration: none;
	display: block;
	margin-left: -3px;
}
.btn-repeat{
	background-image: url('../assets/btnRepeat.png');
	width: 310px;
	height: 71px;
	background-repeat: no-repeat;
	text-decoration: none;
	display: block;
	margin-left: -3px;
}
.btn-bio{
	background-image: url('../assets/btnBio.png');
	background-repeat: no-repeat;
	width: 310px;
	height: 70px;
	text-decoration: none;
	display: block;
	margin-left: -3px;
}
.fast-call{
	background-image: url('../assets/displayFastcall.png');
	width: 554px;
	height: 150px;
	display: block;
	float: left;
	position: relative;
	left: -10px;
}
.text-fast{
	position: absolute;
	top: 82px;
	left: 37px;
	width: 210px;
	border:0 none;
}
.btn-fastCall{
	background-image: url('../assets/btnFast.png');
	background-repeat: no-repeat;
	width: 293px;
	height: 70px;
	display: block;
	position: absolute;
    top: 43px;
    left: -15px;
}
}
.btn-fastCall:hover{background-image: url('../assets/btnFast(hover).png');}
.send-to{
	background-image: url('../assets/boxPesan.png');
	background-repeat: no-repeat;
	width: 559px;
	height: 79px;
	display: block;
	position: relative;
	bottom: 0px;
    background-position: 260px;
    margin-top: 5px;
}
.btn-sendTo{
	background-image: url('../assets/btnSendTo.png');
	background-repeat: no-repeat;
	width: 293px;
	height: 70px;
	display: block;
	position: absolute;
    top: 5px;
    right: 24px;
}
.btn-sendTo:hover{background-image: url('../assets/btnSendTo(hover).png');}
.text-send{
	position: absolute;
	top: 47px;
    left: 279px;
	width: 210px;
	border:0 none;
}
.line{
	height: 1px;
	width: 100%;
	background-color: #dedede;
}
.text-row{
	position: absolute;
	top: 20px;
}
.btn-visitor{
	background-image: url('../assets/btnVisitor.png');
	background-repeat: no-repeat;
	width: 240px;
	height: 79px;
	display: block;
}
.btn-visitor:hover{
	background-image: url('../assets/btnVisitor(hover).png');
}


.modal-header2 {
    min-height: 16.42857143px;
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
    background-color: #424242;
}
.bar-title{
	background-color: #dedede;
	padding: 10px;
}
.modal-dialog{
	width: 930px !important;
}
.btn-box{
	background: rgba(76,76,76,1) !important;
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1))) !important;
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) !important
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
	color: #fff !important;
}
@media (width: 1920px){
	.marq-bar {
    display: block;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.76);
    font-size: 30px !important;
    color: #fff;}
    
    .time h2{font-size: 56px;}

    .logo-center {
    background-color: rgba(0, 0, 0, 0.46);
    width: 100%;
    padding-top: 10px;
    height: 129px !important;
    display: block;
    /* position: absolute; */
    top: 20px;
    margin-bottom: 0px !important;}

    .logo{
    display: block;
    margin: 0 auto;
    width: 683px !important;}

	.container{
	width: 1400px !important;
	/*background-color: red;*/
	height: 740px;}

	.btn-next-call {
    background-image: url(../assets/btnCallnext.png);
    background-size: cover;
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    text-decoration: none;
    display: block;
    margin-left: -3px;
	margin-top: 47px;}

    .btn-repeat {
    background-image: url(../assets/btnRepeat.png);
    width: 100%;
    background-size: cover;
    height: 120px;
    background-repeat: no-repeat;
    text-decoration: none;
    display: block;
    margin-left: -3px;}

    .btn-bio {
    background-image: url(../assets/btnBio.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    text-decoration: none;
    display: block;
    margin-left: -3px;}

    .cc{height: 426px;}

    .btn-fastCall {
    background-image: url(../assets/btnFast.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 499px;
    height: 120px;
    display: block;
    position: absolute;
    top: 43px;
    left: -51px;}

    /*.fast-call {
    background-image: url(../assets/displayFastcall.png);
    width: 951px;
    background-repeat: no-repeat;
    height: 210px;
    display: block;
    float: left;
    position: relative;
    left: -10px;
    background-size: cover;
    margin-top: 5px;}*/

    .fast-call {
    background-image: url(../assets/displayFastcall.png);
    width: 951px;
    background-repeat: no-repeat;
    height: 189px;
    display: block;
    float: left;
    position: relative;
    left: -10px;
    background-size: cover;
    background-position-y: -32px;
    margin-top: 5px;}

    .box-antrian {
    background-image: url(../assets/display2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 259px;
    margin-top: 217px;}

    .box-sisa {
    background-image: url(../assets/display1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 259px;
    float: left;
    margin-top: 214px;}

    .box-sisa2 {
    background-image: url(../assets/display1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 378px;
    height: 195px;
    float: left;
    margin-top: 44px;}

    .text-send {
    position: absolute;
    top: 87px;
    left: 455px;
    width: 210px;
    border: 0 none;}

    .next-line {
    background-image: url(../assets/displayNext.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    padding: 3px;}

    .text-fast {
    position: absolute;
    top: 106px;
    left: 43px;
    width: 373px;
    border: 0 none;
    padding: 10px;}

    .btn-sendTo {
    background-image: url(../assets/btnSendTo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 503px;
    height: 120px;
    display: block;
    position: absolute;
    top: 5px;
    right: 51px;}

    .btn-visitor {
    background-image: url(../assets/btnVisitor.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 119px;
    display: block;}

    .send-to {
    background-image: url(../assets/boxPesan.png);
    background-repeat: no-repeat;
    width: 559px;
    height: 136px;
    display: block;
    position: relative;
    bottom: 0px;
    background-position: 422px;
    margin-top: 5px;
    background-size: 950px;
}

    .title-1{font-size: 50px;}
    .title-2{font-size: 50px;}
    .box-sisa h1 {
    font-size: 90px;
    display: block;
    font-weight: bold;
    text-align: center;}

    .box-antrian h1 {
    font-size: 90px;
    display: block;
    font-weight: bold;
    text-align: center;}

    .box-sisa2 h1 {
    font-size: 90px;
    display: block;
    font-weight: bold;
    text-align: center;}

    .info-text {
    position: absolute;
    right: 130px;
    top: 25px;
    color: #fff;
    text-align: right;}

    .frame {
    width: 90px;
    height: 90px;
    display: block;
    float: right;
    background-color: #fff;
    border: 2px solid #999;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50px;
    overflow: hidden;
}

}

@media (max-height: 680px){
    .box-sisa,.box-antrian{margin-top: 100px !important; top: 32px; position: relative; border-bottom: 1px solid #000;}
    .marq-bar{position: fixed; bottom: 0px;}
    .fast-call {width: 554px; height: 118px; display: block; float: left; position: relative; left: -10px; margin-top: 32px !important;}
    .box-sisa2 h1 {font-size: 50px; display: block; font-weight: bold; text-align: center; line-height: 14px !important;}
    .box-sisa2 {background-size: cover; background-repeat: no-repeat; width: 240px; height: 118px; float: left; margin-top: 31px !important; border-top: 1px solid #000; background-position-y: -47px;}
}
