html body{margin: 0 auto;}
.left{
	background-color: #0472f1; 
	padding: 20px;
	color:#fff;}
.left label{
	font-weight: normal;}
.left p{
	font-size: 11px; 
	display: block; 
	text-align: center;
	left: 0px;
	right: 0px; 
	position: absolute; 
	bottom: 0px;}
.right{
	background-color: #fff;
	padding: 20px;
	padding-top: 30px;
	border:1px solid #dedede;
	min-height: 347px;
	color:#999;}
.center-logo h4{
	text-align: center;
	margin-bottom: 50px; 
	display: block;}
.center-logo p{text-align: center;}
.container {
	margin-top: 5%;
}

body {
	color: #fff;
	background: linear-gradient(-45deg, #0d4b9f, #059fcb, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1,
h6 {
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}


