body{
	font-family: 'Roboto', sans-serif;
	background-image: url("/antrian/images/plasmanew/images/background.jpg");
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
}
.news-box{
	position: relative;
}
.news{
	float: left;
	background-color: #fff6;
	padding: 5px;
/*	position: absolute;*/
	z-index: -1;
}
.time{
	background: rgba(254,172,0,1);
	background: -moz-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,172,0,1)), color-stop(100%, rgba(232,131,1,1)));
	background: -webkit-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -o-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: linear-gradient(to bottom, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feac00', endColorstr='#e88301', GradientType=0 );
	padding: 5px;
	width: 100px;
	float: left;
        position:absolute;
}
.no-padding{
	padding: 0px;
}
.time h2{
	margin: 0px;
	font-weight: bold;
	color:#000;
}
marquee{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	color: #FFF;
        padding:1.4px;
}
.header{
	background-color: #0009;
	padding: 0px;
	float: left;
	width: 100%;
}
.logo-left{
	display: block;
	float: left;
}
.date{
	display: block;
	float: right;
}
.date,h3{
	color: #fff;
	font-weight: bold;
	margin: 0px;
	margin-top: 10px;
	margin-right: 10px;
	text-transform: uppercase;
}
.cnt-cuaca{
	background-color: #0009;
	display: block;
}
.header-title{
	display: block;
	padding: 1px;
	background: rgba(254,172,0,1);
	background: -moz-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,172,0,1)), color-stop(100%, rgba(232,131,1,1)));
	background: -webkit-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -o-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: linear-gradient(to bottom, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feac00', endColorstr='#e88301', GradientType=0 );
}
.header-title h4{
	font-weight: bold;
	margin-left: 10px;
	font-size: 20px;
}
.cuaca-display-left{
	float: left;
	padding: 10px;
}
.cuaca-display-left,h1{
	display: block;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
	margin: 0px;
}
.cuaca-display-left,h2{
	display: block;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 0px;
}
.cuaca-display-right{
	display: block;
	padding: 5px;
	text-align: center;
}
.carousel-inner{
	height: 230px;
}
.image-slide{
	height: 235px;
}
.list-box{
	background-image: url("/antrian/images/plasmanew/images/list-back.png");
	background-size: cover;
	display: block;
	width: 100%;
	padding: 10px;
	margin: 5px;
}
.list-box>h3{
	margin: 0px;
	font-size: 17px;
}
.numeric{
	background: rgba(254,172,0,1);
	background: -moz-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,172,0,1)), color-stop(100%, rgba(232,131,1,1)));
	background: -webkit-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -o-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	background: linear-gradient(to bottom, rgba(254,172,0,1) 0%, rgba(232,131,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feac00', endColorstr='#e88301', GradientType=0 );
	line-height: 1.5;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	/*font-size: 15px;*/
	font-weight: bold;
}
.numericB{
	background: rgba(12,172,240,1);
	background: -moz-linear-gradient(top, rgba(12,172,240,1) 0%, rgba(2,95,181,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,172,240,1)), color-stop(100%, rgba(2,95,181,1)));
	background: -webkit-linear-gradient(top, rgba(12,172,240,1) 0%, rgba(2,95,181,1) 100%);
	background: -o-linear-gradient(top, rgba(12,172,240,1) 0%, rgba(2,95,181,1) 100%);
	background: -ms-linear-gradient(top, rgba(12,172,240,1) 0%, rgba(2,95,181,1) 100%);
	background: linear-gradient(to bottom, rgba(12,172,240,1) 0%, rgba(2,95,181,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cacf0', endColorstr='#025fb5', GradientType=0 );
	line-height: 1.5;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.label-primary{
	background-color: #fff6 !important;
    display: block;
    padding: .2em .6em .3em;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #040404;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.10em;
    position: relative;
    width: 192px;
    text-align: left;
    margin-top: 4px;
}
.hvideo{
	width: 100%;
	display: block;
	position: relative;
}
.vt{
	position: absolute;
	top: 0;
	width: 100%;
}